
div.Printing ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.pricing {
    display: flex;
    column-gap: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 5%;
    font-size:16;
    line-height: 24px;
}
.pricing-inside {
    display: flex;
    flex-direction: column;
}
table, th, td {
  border: 1px solid black;
}
