div.Navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

div.Navbar ul li {
    float: left;
}

div.Navbar ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

div.Navbar ul li a:hover {
    background-color: #111111;
}
